* , *::after , *::before {
    box-sizing: border-box;
}

body {
    --background_light_main: #f7f9fb;
    --background_light_gradient: linear-gradient(180deg,#f7f9fb,rgba(238,242,245,0.8) 116.16%);
    --background_light_icon: rgba(0,136,204,0.06);
    --background_light_blue: rgba(0,136,204,0.1);
    --background_dark_main: #232328;
    --background_dark_gradient: linear-gradient(0deg,#232328,#343437 101.47%);
    --background_dark_secondary: hsla(0,0%,100%,0.03);
    --background_gradient_light: linear-gradient(180deg,#fff,#f7f9fb 134.8%);
    --button_light_primary: #08c;
    --button_light_primary_hover: #0197e2;
    --button_light_primary_pressed: #0082c2;
    --button_light_secondary: rgba(246,248,251,0.8);
    --button_light_secondary_hover: #f4f7fa;
    --button_light_secondary_pressed: #f4f7fa;
    --button_dark_primary: #08c;
    --button_dark_primary_hover: #00a1f1;
    --button_dark_primary_pressed: #076c9f;
    --button_dark_secondary: hsla(0,0%,100%,0.06);
    --button_dark_secondary_hover: hsla(0,0%,100%,0.12);
    --button_dark_secondary_pressed: hsla(0,0%,100%,0.03);
    --button_dark_text: #07a0ec;
    --button_dark_secondary_text_hover: #5bc8ff;
    --button_dark_secondary_text_pressed: #0186c9;
    --button_light_primary_small: rgba(0,136,204,0.06);
    --button_light_primary_small_hover: rgba(0,136,204,0.3);
    --button_light_primary_small_pressed: rgba(0,136,204,0.03);
    --text_light_primary: #161c28;
    --text_light_secondary: #728a96;
    --text_dark_primary: #fff;
    --text_dark_secondary: hsla(0,0%,100%,0.7);
    --text_dark_gradient: linear-gradient(89.92deg,#06a1ef 28.51%,#69cdff 85.79%);
    --icon_light_primary: #08c;
    --icon_light_secondary: rgba(236,240,243,0.8);
    --icon_light_thirdly: #98b2bf;
    --icon_dark_primary: #02a8fb;
    --separator_light: rgba(123,148,160,0.2);
    --separator_dark: hsla(0,0%,100%,0.06);
    --black: #000;
    --covers_light_green: #caefd9;
    --hovered_link: #08c;
  }

body {
    margin:0;
    font-family: 'Mulish', sans-serif;
    
}

a {
    text-decoration: none;
}

.banner {
    background: linear-gradient(90deg, #9a6dfb -7.22%, #5dc7fc 109.17%);
    display: block;
    text-align: center;
    padding: 0.5%;
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    font-size:.8em;
}

.banner:hover {
    color: rgba(255, 255, 255, 0.8);
}

.hero {

    background-color: var(--background_dark_main);
    padding-bottom: 10%;
    
}

nav {
    background-color: rgba(35,35,40,1);
    backdrop-filter: blur(16px);
    position:sticky;
    width:100%;
    top:0px;
    z-index:1;
    
}

nav .container {
    padding-bottom:1%;
    padding-top:1%;
    display:flex;
    justify-content:space-between ;
    }

.container {
    width:100%;
    max-width: 1024px;
    margin:auto;
    align-items: center;
}

.logo {
width:10%;
}

.links {
    display:flex;
}
.links a{
    color:white;
    padding: 0% 20px;
    font-size: 1.1em;
    font-weight:bold;
    
}

.links a:hover {
    color:rgba(255,255,255,0.8);
    cursor:pointer;
}

.source:hover {
    color:rgba(255,255,255,0.8);
    cursor:pointer;
}

.gitcat {
    width:40%;
    padding-right:8%;
    display: inline-flex;
}
.source {
    color:white;
    font-size: 1.1em;
    display:inline-flex;
    font-weight:bold;

}
.details {
    display:flex;
}
.details .desc {
width:70%;
padding-right: 5%;
padding-top: 5%;
}

.details .desc h1 span {
    display:block;
    font-size: 3em;
    font-weight: bold;
    margin:0;
}
.details .desc h1 :first-child {
    color:white;
}
.details .desc h1 :last-child {
    color:#06a1ef;
}

.par1 {
    color:rgb(211, 201, 201);
    font-size:1.2em;
    width:92%;
    line-height:150%;
    
}


.buttons {
    display:flex;
}

.button {
    padding:21px 40px;
    border-radius: 10cm;
    font-size: 1em;
    color:white;
    font-weight:bold;
    display:flex;
    margin-top:3%;
    align-content: center;
}
.bluebtn {
    background-color: rgb(74, 155, 217);
    }


.blackbtn {
    background-color: rgb(57, 56, 56);
    margin-left:3%;
    display:inline-flex;
      
}

.bluebtn:hover , .blackbtn:hover {
    filter:brightness(110%);
    cursor:pointer;
}

.details .videobackground {
 width:30%;
}


.videobackground {
    border-radius: 50%;
    filter:blur(150px);
    position:absolute;
    left:60%;   
    z-index: 2;   
}

.videoshadow {
    background-color: black;
    padding:1% 5%;
    position:absolute;
    left:65.5%; 
    bottom:35%;
    border-radius: 50%;
    filter:blur(20px);
}

.undervideo {
    width:80%;
    z-index:2;   
}

.actualvideo {
    width:20%;
    position:absolute;
    left:60%;
    z-index: 3;
}

/* This is the second part */

.initialinfo {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:10%;
    
    
}

.info {
    
    font-size: 3em;
    line-height:120%;
    font-weight:bold;
    
}

.par2 {
    color:#728a96b5;
    font-size:1.1em;
    width:50%;
    text-align: center;
}

.threebox {
display:flex;
justify-content: space-between;
padding-top:5%;
width:100%;


}
.box {
    line-height: 350%;
    padding: 1% 3%;
    padding-left:3%;
    border-radius: 0.5cm;
    background-color: #f7f9fb;
    position:relative;
    width:30%;
    overflow:hidden;
        
}


.icons {
    width:40%;
    position:absolute;
    right:1%;
    transform:translate(30% ,-50%);
    top:50%;
    
    
}

.top {
    font-size:1.1em;
}

.number {
    font-weight: bold;
    font-size:2em;
    
}

.secondaryinfo {
    display:block;
    padding: 3% 10% 5% 5%;
    background-color: #f7f9fb;
    margin-top:10%;
    border-radius:1cm;
    
    
}

.bigcontainer {
    width:100%;
    max-width: 1224px;
    margin:auto;
    align-items: center;
}

.par3 {
    color:#728a96b5;
    font-size:1.1em;
    width:55%;
   
    }

    .bluelink {
        color:#0d87c4;
        font-weight: bold;
        font-size:1.1em;
        display:inline-flex;
        padding-right:50px;
        padding-top:30px;
        
    }

    .bluelink:hover {
        color:#00a1f1;
    }

    .leftside{
        width:80%;
    }

    .rightside {
        width:20%;
    }

    .coins {
        margin-left:280%;
        width:250%;
        margin-top:-500px;
    }

    /* Timeline */

    .part3 {
        padding-top:5%;
    }

    .tontl {
        font-weight: bold;
        font-size:3em;
    }
    
    
    .tlinfo { 
        display:flex;
        padding-top:15%;
        justify-content: space-between;
        position:relative;
        overflow:visible;

    }

    .tlinfo::before {
        height:2px;
        display:block;
        background-color: rgba(155, 197, 237, 0.467);
        content:"";
        position:absolute;
        top:30%;
        left:0px;
        width:66.666666%;
        
    }

    .tlinfo::after {
        content:"";
        width:100%;
        border-top: 2px dashed rgba(155, 197, 237, 0.467);
        position:absolute;
        top:30%;
        left:66.66666%;

    }

    .tlblock {
        display:flex;
        flex-direction: column;
        width:33.33333%;
            
    }

    .tlblock::before {
        content:"";
        width:8px;
        height:8px;
        border-radius: 50%;
        background-color:#0082c2;
        position:absolute;
        top:30%;
        transform:translateY(-50%);
        z-index:1;
        
    }

    .bigcircle::before {
        background-color: white;
        outline:8px solid #0082c2;
        
    }

    .year {
        font-size:1.2em;
        font-weight: bold;
    }

    .yeardesc {
        font-size:1.1em;
        color:#728a96df;
        width:80%;
    }

    /* Blockchain Analysis*/

    .bcatop {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:10%;
    }

    .bcatl {
        font-weight: bold;
        font-size:3em;
    }

    .bcadesc {
        font-size:1.1em;
        color:#728a96df;
        width:90%;
        text-align: center;
        
    }

   .btnimg {
    padding-right:5px;
    display: inline-block;
   }
    .bcatbl {
        display:flex;
        flex-direction: column;
        padding:20px 30px 10px 20px;
        border: solid rgba(190, 177, 177, 0.722) 1px;
        border-radius: 1cm;
        margin-top:10%;
        margin-left:5%;
        
    }
    .bcatbl.row span{
        display:flex;
        justify-content: space-evenly;
        
        
    }

   r .bcatbl span {
        line-height: 400%;
    }

    .bcatbl img {
        width:5%;
    }

    .bcatbl .tl {
        font-weight: bold;
    }
    
    .wrap {
        line-height: normal;
    }

    

    .bcadesc2 {
        font-size:1.2em;
        color:#728a96b7;
        width:80%;
        text-align: center;
        margin-left:10%;
        padding-bottom:10%;
        
    }

    .bcadesc2 a {
        color:#728a96b7;
    }
    .bcadesc2 a:hover {
        color:#8ad1f4;
    }

    .black {
        background-color: rgb(44, 44, 49);
        padding-bottom:5%;
    }

    .bctop {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .bctl {

        font-weight: bold;
        font-size:4em;
        color:white;
        padding-top:5%;
    }

    .bcdesc {
        text-align: center;
        color:rgb(145, 138, 138);
        font-size: 1.4em;
        width:50%;
    }

    .git {
        padding-right:10px
    }

    .bcbtm {
        background-color: rgba(61, 59, 59, 0.579);
        border-radius:1cm;
        padding-bottom: 5%;
        margin-top:5%;
        position:relative;
    }
    .bctbltop {
        font-size: 2em;
        background-color: rgba(30, 30, 30, 0.85);
        padding:1% 5% 1% 5%;
        z-index: 2;
        border-radius: 1cm 1cm 0 0;
        
    }

    .red {
        color:red;
    }
    .yellow {
        color:yellow;
    }
    .green {
        color: green;
    }

    .bctblleft {
        display: flex;
        flex-direction: column;
        width:30%;
        font-size:1.2em;
        font-weight: bold;
        width:20%;
        margin-left:5%;
        color:white;
        line-height: 400%;
        margin-top:5%;
        
    }

    .bctblleft span:hover {
        padding:0 -10%;
        background-color:rgba(115, 110, 110, 0.707) ;
        transition: 0.5s;
        cursor: pointer;
        filter:brightness(110%);
    }

    .bctblright {
        width:70%;
        position:absolute;
        left:30%;
        top:20%;
    }

    .bctblrighttl {
        
        font-size: 2em;
        color:white;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
    }
    .bctblrightdesc {
        color:white;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.3em;
        width:80%;
        line-height: 200%;
    }
    .bctblrightdesc a {
        color:#0082c2;
    }

    .bctblrightdesc a:hover {
        filter:brightness(110%);
    }

    .bctblbtm {
        margin-top:10%;
        display:flex;
        justify-content: space-between;
        width:80%;
        color:grey;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.3em;
        font-weight: bold;
    }
    
    .white {
        color:white;
    }

    .toncom {
        position:relative;
    }

    .toncomleft {
        width:60%;
        margin-top:20%;

    }

    .toncomtl {
        font-weight: bold;
        font-size:4em;
    }

    .toncomdesc {
        font-size:1.4em;
        color:#728a96df;
        width:80%;
        }

    .toncomright {
        width:40%;
    }
    .toncomright img {
        width:50%;
        position:absolute;
        left:60%;
        top:-30%;
    }
    .apps {
    padding: 80px 250px;
    background-color: #f7f9fb;
    margin-top:200px;
    border-radius:3cm;
    display:flex;
    flex-direction: column;
    align-items: center;
    }

    .appstl {
        font-weight: bold;
        font-size:4em;
    }

    .appsdesc {
        font-size:1.4em;
        color:#728a96df;
        width:48%;
        text-align: center;
    }
.ecptop {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
}

.ecptl {
    font-weight: bold;
    font-size:4em;
}

.ecpdesc {
        font-size:1.4em;
        color:#728a96df;
        width:48%;
        text-align: center;
}

.ecpbtm {
    display:flex;
    margin-top:5%;
    justify-content: space-between;
   }

.threecolumn {
    display:flex;
    flex-direction: column;
    }

.threecolumn a {
    width:90%;
    }

.threecolumn img {
    width:90%;
    border-radius: 1cm;
    margin-bottom:5%;    
}

.semitl {
    font-size:1.5em;
        font-weight: bold;
        color:black;
        
    }

    .semidesc {
        font-size:1.4em;
        color:#728a96df;
        
}