body {
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

.container {
    width:1024px;
    margin:auto;
}

.coincap {
    width:30%;
    padding-left:30%;
}

nav {
    display:flex;
    justify-content: space-between;
    padding:0px;
    align-items: center;
}

.navstart {
    width:20%;
    display:flex;
    justify-content: space-between;
    font-size: .9em;
}

.navstart a {
    padding:10%;
    border:none;
    text-decoration: none;
    color:black;
}

.navstart a:hover {
    background-color: rgba(243, 241, 241, 0.61);
    cursor:pointer;
}

.searchbar{
    display:none;
}


.navend {
    display:flex;
    justify-content:space-between;
    width:25%;
    align-items:center;
}

.btn {
    padding:10px 30px;
    border-radius: 1cm;
    border:0px;
    background-color: #18C683;
    color:white;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px ;

}



.btn:hover {
    cursor: pointer;
    transform:translateY(-2px);
    transition:all 0.3s ease-out 0.3s;
       
}

.topblue {
    padding:4%;
    background-image:linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
    color:white;
    
}

.bluerow {
    display:flex;
    justify-content: space-around;
    transform: translateY(-150%);
    font-weight: bold;
}

.bluecolumns {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.middlebg {
    width:100%;
    background-color: rgb(236, 239, 241);
    position:relative;
}

.middlesq {
    padding:10% 0% 2% 0%;
    background-color: white;
    transform: translateY(-50%);
    position:relative;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
}

.tabletop {
    background-color: rgb(236, 239, 241);
    display:flex;
    justify-content: space-between;
    font-size: 0.9em;
    padding:1% 0%;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    color:rgb(103, 106, 109);
    
    
}

.topleft {
    display:flex;
    justify-content: space-between;
    width:10%;
    margin-left:20px;
   
}

.black {
    color:black;
}

.topright {
    display:flex;
    justify-content: space-between;
    width:60%;
    margin-right:10px;
    
}

.vm {
margin-left:45%;

position:absolute;
top:70%;

}

.bottomblue {
    padding:2%;
    background-image:linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));
    
}

.btmrow {
    display: flex;
    justify-content: space-around;
}

.btmcolumns {
    display:flex;
    flex-direction: column;
    width:25%;
    color:rgba(255, 255, 255, 0.616);
    font-size:0.9em;
}

.btmcolumns h4 {
    color:white;
}

.btmcolumns a {
   opacity: 0.5;
}

.btmcolumns a:hover {
    opacity:1;
}
